@import 'global';

.container-add {
	padding-top: 70px;
	width: 200px;
}

.image {
	width: 45px;
	margin-left: 15px;
	margin-right: 5px;
}

.button-add {
	margin-left: 20px;
}

.text {
	font-family: var(--font);
	font-size: var(--sml);
	color: var(--white);
}

