@import 'global';

.createDate{
	width: 100%;
	height:65vh;
	display: grid;
	place-items: center;
}

.form-container{
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}

.main-title {
	font-size: 20px;
	margin-bottom: 39px;
	text-align: start;
	font-family: var(--font);
}


.form {
	display: flex;
	flex-direction: column;
}

.form div {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
	font-family: var(--font);
}

.input {
	background-color: var(--text-input-field);
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var(--med);
	padding: 6px;
	margin-bottom: 12px;
}

.input-title, .input-date, .input-description {
	margin-bottom: 22px;
}

.primary-button{
	background-color: var(--purple-light);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--med);
	font-weight: bold;
	height: 50px;
	font-family: var(--font);
}

.create-button {
	margin-top: 14px;
	margin-bottom: 30px;
}

@media (max-width: 640px) {
	.form-container {
		height: 100%;
	}
	.form {
		height: 100%;
		justify-content: space-between;
	}
}

