:root {
	--black: #000000;
	--font: 'Mochiy Pop P One', sans-serif;
	--white: #FFFFFF;
	--op: #f7f7f7;
	--purple-light: #962BB5;
	--sml: 14px;
	--med: 16px;
	--lar: 18px;
	--mat: red;
	--com: rgb(255, 145,0);
	--comp: blue;
	--art: rgb(207, 0, 226);
	--his: rgb(5, 126, 35);
}

